html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.clearfix::before {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}
.layout {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.mmm_logo {
  width: 100%;
  height: 82px;
  padding: 0 10px;
  background-color: #fe4a65;
  display: flex;
  justify-content: space-between;
}
.mmm_logo .left {
  height: 100%;
  line-height: 82px;
  font-size: 50px;
  color: #fff;
}
.mmm_logo .middle_logo {
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mmm_logo .middle_logo img {
  width: 80%;
}
.mmm_logo .right_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mmm_logo .right_logo img {
  width: 80%;
}
.mmm_content {
  flex: 1;
  overflow: hidden;
}
.mmm_content .mmm_c_header {
  height: 80px;
  width: 100%;
  background-color: #fff;
}
.mmm_content .mmm_c_header .ff {
  height: 80px;
  width: 200%;
  margin-top: 82px;
}
.mmm_content .mmm_c_header .ff ul {
  height: 100%;
  display: flex;
}
.mmm_content .mmm_c_header .ff ul li {
  text-align: center;
  height: 80px;
  line-height: 60px;
  width: 250px;
  padding: 10px 0;
}
.mmm_content .mmm_c_header .ff ul li a {
  color: #000;
  padding-bottom: 10px;
  font-size: 18px;
}
.mmm_content .mmm_c_header .ff ul li a:hover {
  color: red;
  border-bottom: 2px solid red;
}
.mmm_content .vv {
  position: relative;
  height: 100%;
}
.mmm_content .vv .mmm_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.mmm_content .vv .mmm_details .kuai {
  width: 100%;
  display: flex;
  background-color: #fff;
  padding: 5px 0;
  margin: 5px 0;
  padding: 5px 5px;
}
.mmm_content .vv .mmm_details .kuai .left {
  flex: 0.9;
  background-color: pink;
}
.mmm_content .vv .mmm_details .kuai .left a {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_content .vv .mmm_details .kuai .left a img {
  width: 118px;
}
.mmm_content .vv .mmm_details .kuai .right {
  flex: 3;
  margin-left: 5px;
}
.mmm_content .vv .mmm_details .kuai .right p {
  color: #000;
}
.mmm_content .vv .mmm_details .kuai .right .price {
  margin: 10px 0;
}
.mmm_content .vv .mmm_details .kuai .right .price > em {
  color: red;
  font-size: 12px;
}
.mmm_content .vv .mmm_details .kuai .right .price > del {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
}
.mmm_content .vv .mmm_details .kuai .right .mmm_yg {
  margin-bottom: 5px;
}
.mmm_content .vv .mmm_details .kuai .right .mmm_yg span:nth-of-type(1) {
  display: inline-block;
  height: 15px;
  width: 70px;
  font-size: 12px;
  background-color: #f76868;
  border: 1px solid red;
  border-radius: 13px;
  text-align: center;
  color: #fff;
}
.mmm_content .vv .mmm_details .kuai .right .mmm_yg span:nth-of-type(2) {
  margin-left: 10px;
  color: red;
  font-size: 12px;
}
.mmm_content .vv .mmm_details .kuai .right .bottom {
  display: flex;
  justify-content: space-between;
}
.mmm_content .vv .mmm_details .kuai .right .bottom > a {
  font-size: 14px;
  border: 1px dashed red;
  display: inline-block;
  color: red;
  padding: 0 5px;
  line-height: 33px;
  text-align: center;
}
.mmm_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #eee;
}
.mmm_footer > div:nth-of-type(1) > span:nth-of-type(1) {
  flex: 1;
}
.mmm_footer > div:nth-of-type(1) > span:nth-of-type(1) > a {
  color: #fff;
}
.mmm_footer > div:nth-of-type(1) > span:nth-of-type(2) {
  color: #fff;
}
.mmm_footer > div:nth-of-type(2) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 40px;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.mmm_footer > div:nth-of-type(2) > a {
  line-height: 40px;
  width: 33%;
  display: block;
  color: #999;
}
.mmm_footer > div:nth-of-type(2) > a:nth-of-type(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.mmm_footer > div:nth-last-of-type(1) {
  text-align: center;
}
.mmm_footer > div:nth-last-of-type(1) > div:nth-of-type(1) > a {
  color: red;
}
.mmm_footer > div:nth-last-of-type(1) > div:nth-of-type(1) > a:nth-of-type(2) {
  color: #666;
}
.mmm_footer > div:nth-last-of-type(1) > div:nth-of-type(1) > a:nth-last-of-type(1) {
  color: #999;
}
.mmm_footer > div:nth-last-of-type(1) > div:nth-last-of-type(1) > a {
  color: #999;
}
